.box{
    border-style: solid;
    border-color: rgb(127, 125, 253);
    width: 86%;
    height: 30rem;
    margin-left: 6%;
    margin-top: 3%;
    background-color: #c3c3c3;
    overflow: auto;
}
.englishButton{
    background-color: #ed1c24;
    border-color: #ed1c24;
    color: white;
    width: 90%;
    height: 37px;
    margin-left: 4%;
    margin-top: 2%;
}
.knowEnglish{
    background-color: #7f7f7f;
    height: 11rem;
    width: 90%;
    margin-left: 44px;
    margin-top: 2px;
    overflow: auto;
}
.engDivObj{
    color: white;
    background-color: #00a2e8;
    padding-left: 44%;
    padding-top: 3px;
    width: 94%;
    height: 33px;
    margin-left: 30px;
    margin-top: 9px;
}
.clickButton{
    float: right;
    background-color: #3e3eff;
    border-color: #3e3eff;
    color: white;
    width: 64px;
    height: 32px;
    margin-right: 67px;
    margin-top: 20px;
}